.main-container {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-evenly;
  padding: 80px 20px;
}
.main-text {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;
  gap: 10px;
  padding: 20px 60px;
}
.main-heading {
  color: var(--main);

  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px; /* 132% */
  letter-spacing: 1px;
  margin-bottom: 0px;
}
.main-para {
  color: var(--colour-main-blue-500, #505f98);
  font-feature-settings: "clig" off, "liga" off;

  /* Regular 18 */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.btn-purchase {
  width: 189px;

  height: 36px;
  border: none;
  border-radius: 2px;
  background: var(--colour-main-blue-800, #111b47);
  color: var(--colour-secondary-white-100-general, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Medium 16 */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.btn-Learn {
  width: 189px;
  height: 36px;
  border: 1px #111b47 solid;
  border-radius: 2px;
  background: #ffff;
  color: var(--main);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Medium 16 */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.main-image {
  width: 100%;
  height: auto;
  padding-top: 30px;
  text-align: center;
}
.img {
  width: 100%;
  height: 780px;
  /* width: 100%; */
}
.main-container-bottom {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}
.bottom-text {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 40%;
  gap: 10px;
}
.bottom-heading {
  color: var(--main);

  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 133.333% */
}
.bottom-para {
  color: #6f7cb2;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.icon-container {
  display: flex;
  gap: 10px;
  padding: 50px 0;
}
.icon-items {
  display: flex;
  flex-direction: column;
}
.svg-icon {
  width: 36px;
  height: 36px;
}
.svg-title {
  margin-top: 15px;
  color: #091133;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  margin-bottom: 0px;
}
.icon-para {
  margin-top: 15px;
  color: #5d6970;

  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}

.bottom-image {
  width: 100%;
  height: auto;
  text-align: center;
}
.main-btn {
  display: flex;

  gap: 10px;
}
@media screen and (max-width: 767px) {
  .main-container,
  .main-container-bottom {
    flex-direction: column;
    align-items: center;
  }

  /* .main-text {
    width: 100%;
    text-align: center;
  } */
  .main-btn {
    flex-direction: column;
    align-items: center;
  }

  .main-heading,
  .bottom-heading {
    text-align: center;
  }

  .bottom-image-container {
    margin-top: 23px;
  }

  .bottom-text {
    width: 100%;
  }
  .bottom-para {
    text-align: center;
  }

  .icon-container {
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
  }

  .icon-items {
    align-items: center;
    text-align: center;
  }

  .svg-icon {
    width: 24px;
    height: 24px;
  }

  .svg-title {
    margin-top: 10px;
    font-size: 14px;
  }

  .icon-para {
    margin-top: 10px;
    font-size: 12px;
  }
}
