body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfbfd;
  box-sizing: border-box;
}

/* code {
  font-family: "Inter", sans-serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
} */

:root {
  --main: #111b47;
  --secondary: #505f98;
  --background: #ffffff;
}
